In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("csvmichelin.csv", index_col="id")
df.head()

    country        team  trophies
id
0   England   Liverpool         6
1     Spain   Barcelona         5
2   England  Man United         3
3     Italy       Inter         3
4   England     Chelsea         2

In [9]:
real = ["Spain", "Real Madrid", 15]
milan = ["Italy", "AC Milan", 7]
bayern = ["Germany", "Bayern Munchen", 6]

In [10]:
teams_dict = {
    "country":[real[0], milan[0], bayern[0]],
    "team":[real[1], milan[1], bayern[1]],
    "trophies":[real[2], milan[2], bayern[2]]
}
teams_dict

{'country': ['Spain', 'Italy', 'Germany'],
 'team': ['Real Madrid', 'AC Milan', 'Bayern Munchen'],
 'trophies': [15, 7, 6]}

In [7]:
pd.DataFrame(teams_dict)

Empty DataFrame
Columns: [country, team, trophies]
Index: []

In [11]:
big__guns_df = pd.DataFrame(teams_dict)

In [15]:
list_of_dfs_to_concat = [big__guns_df, df]
pd.concat(list_of_dfs_to_concat).head(6)

   country            team  trophies
0    Spain     Real Madrid        15
1    Italy        AC Milan         7
2  Germany  Bayern Munchen         6
0  England       Liverpool         6
1    Spain       Barcelona         5
2  England      Man United         3

In [14]:
list_of_dfs_to_concat = [big__guns_df, df]
pd.concat(list_of_dfs_to_concat, ignore_index=True).head(5)

   country            team  trophies
0    Spain     Real Madrid        15
1    Italy        AC Milan         7
2  Germany  Bayern Munchen         6
3  England       Liverpool         6
4    Spain       Barcelona         5

In [20]:
list_of_dfs_to_concat = [df, big__guns_df]
merged_df = pd.concat(list_of_dfs_to_concat, ignore_index=True)
merged_df
# merged_df.head(7)

        country            team  trophies
0       England       Liverpool         6
1         Spain       Barcelona         5
2       England      Man United         3
3         Italy           Inter         3
4       England         Chelsea         2
5       England         Chelsea         2
6       England    Nottm Forest         2
7      Portugal         Benfica         2
8         Italy        Juventus         2
9      Portugal        FC Porto         2
10      England        Man City         1
11      Germany        Dortmund         1
12  Netherlands       Feyenoord         1
13       France       Marseille         1
14      England     Aston Villa         1
15      Germany         Hamburg         1
16       Serbia   Crvena zvezda         1
17      Romania            FCSB         1
18  Netherlands             PSV         1
19     Scotland          Celtic         1
20        Spain     Real Madrid        15
21        Italy        AC Milan         7
22      Germany  Bayern Munchen         6

In [35]:
# merged_df.sort_values(["trophies", "team", "country"], ascending = [False, True, True])
merged_df.sort_values(["trophies", "team", "country"], ascending = [False, True, True], inplace=True)
merged_df

    level_0  index      country            team  trophies
0         0     20        Spain     Real Madrid        15
1         1     21        Italy        AC Milan         7
2         2     22      Germany  Bayern Munchen         6
3         3      0      England       Liverpool         6
4         4      1        Spain       Barcelona         5
5         5      3        Italy           Inter         3
6         6      2      England      Man United         3
7         7      7     Portugal         Benfica         2
8         8      4      England         Chelsea         2
9         9      5      England         Chelsea         2
10       10      9     Portugal        FC Porto         2
11       11      8        Italy        Juventus         2
12       12      6      England    Nottm Forest         2
13       13     14      England     Aston Villa         1
14       14     19     Scotland          Celtic         1
15       15     16       Serbia   Crvena zvezda         1
16       16     11      Germany        Dortmund         1
17       17     17      Romania            FCSB         1
18       18     12  Netherlands       Feyenoord         1
19       19     15      Germany         Hamburg         1
20       20     10      England        Man City         1
21       21     13       France       Marseille         1
22       22     18  Netherlands             PSV         1

In [32]:
merged_df.reset_index(inplace=True)
merged_df

    level_0  index      country            team  trophies
0         0     20        Spain     Real Madrid        15
1         1     21        Italy        AC Milan         7
2         2     22      Germany  Bayern Munchen         6
3         3      0      England       Liverpool         6
4         4      1        Spain       Barcelona         5
5         5      3        Italy           Inter         3
6         6      2      England      Man United         3
7         7      7     Portugal         Benfica         2
8         8      4      England         Chelsea         2
9         9      5      England         Chelsea         2
10       10      9     Portugal        FC Porto         2
11       11      8        Italy        Juventus         2
12       12      6      England    Nottm Forest         2
13       13     14      England     Aston Villa         1
14       14     19     Scotland          Celtic         1
15       15     16       Serbia   Crvena zvezda         1
16       16     11      Germany        Dortmund         1
17       17     17      Romania            FCSB         1
18       18     12  Netherlands       Feyenoord         1
19       19     15      Germany         Hamburg         1
20       20     10      England        Man City         1
21       21     13       France       Marseille         1
22       22     18  Netherlands             PSV         1

In [44]:
merged_df
merged_df.to_excel("team.xlsx")

In [ ]:
merged_df.to_excel("team.xlsx")